:root{
	/*text-align: center;*/
	background: black;
	color: white;
}

.box p{
	/*color: white;*/
	color: red;
}

div > p{
	background-color: grey;
}

div ~ p{
	background-color: lightblue;
}

div + p{
	background-color: lightgreen;
}

a:link{
	color: blue;
}

a:visited{
	color: white;
	font-weight: 900;
}

a:hover{
	font-size: 20px;
	color: lightcoral;
}

.experiment_text:first-child{
	background: none;
	color:yellow
}

ul li:first-child{
	color: lightcoral;
	font-weight: bold;
}

ul li:last-child{
	color:greenyellow;
}

span,
div em {
	padding: 5px;
	border: 1px solid green;
	display: inline-block;
	margin-bottom: 3px;
}
.first span:nth-child(2n),
.second span:nth-child(2n + 1)
{
	background-color: lime;
}

h1::before, h1::after{
	display: inline-block;
	text-align: center;
	content:"";
	background-image:url("/img/minimize.png");
	--size-elements: 0.7em;
	width: var(--size-elements);
	height: var(--size-elements);
	background-size:var(--size-elements);
	filter: invert(1);
}

div::first-line{
	color: red;
}
